In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
csv_file = 'Big_Cities_Health_Data_Inventory.csv'
health_df = pd.read_csv(csv_file)
health_df.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [3]:
c_health_df = health_df[['Indicator Category', 'Indicator', 'Place', 'Value']]
c_health_df.head()

,Indicator Category,Indicator,Place,Value
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)","Atlanta (Fulton County), GA",30.4
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)","Atlanta (Fulton County), GA",39.6
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)","Atlanta (Fulton County), GA",41.7
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,"Atlanta (Fulton County), GA",195.8
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,"Atlanta (Fulton County), GA",135.5

In [4]:
c_health_df["Indicator Category"].value_counts()

HIV/AIDS                                    2177
Injury and Violence                         1916
Nutrition, Physical Activity, & Obesity     1841
Infectious Disease                          1486
Cancer                                      1432
Maternal and Child Health                   1323
Behavioral Health/Substance Abuse            983
Food Safety                                  874
Life Expectancy and Death Rate (Overall)     544
Demographics                                 504
Tobacco                                      432
Name: Indicator Category, dtype: int64

In [5]:
obese_df = c_health_df[c_health_df['Indicator Category'] =='Nutrition, Physical Activity, & Obesity']

In [6]:
obese_df['Indicator'].value_counts()

Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)                      554
Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)                           538
Percent of Adults Who Are Obese                                                      253
Percent of High School Students Who Meet CDC-Recommended Physical Activity Levels    181
Percent of Adults Who Meet CDC-Recommended Physical Activity Levels                  181
Percent of High School Students Who Are Obese                                        134
Name: Indicator, dtype: int64

In [7]:
adult_obese = obese_df[obese_df['Indicator']== 'Percent of Adults Who Are Obese']

In [8]:
new = adult_obese["Place"].str.split(",", n = 1, expand = True)

In [9]:
adult_obese["city"]= new[0]

<ipython-input-9-9dc9160fd3e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_obese["city"]= new[0]

In [10]:
adult_obese["state"]= new[1]

<ipython-input-10-84cd1b924c00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_obese["state"]= new[1]

In [11]:
adult_obese.drop(columns=['Place'],inplace=True)

/Users/jmbruner37/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
adult_obese.head()

,Indicator Category,Indicator,Value,city,state
177,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,22.8,Atlanta (Fulton County),GA
178,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,17.9,Atlanta (Fulton County),GA
179,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,25.4,Atlanta (Fulton County),GA
180,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,16.6,Atlanta (Fulton County),GA
181,"Nutrition, Physical Activity, & Obesity",Percent of Adults Who Are Obese,23.7,Atlanta (Fulton County),GA

In [13]:
adult_obese['city'].value_counts()

Seattle                        26
New York                       24
Washington                     22
Denver                         18
Phoenix                        17
Philadelphia                   16
Atlanta (Fulton County)        15
Baltimore                      15
Boston                         13
Miami (Miami-Dade County)      12
Chicago                        12
San Diego County                9
Los Angeles                     7
San Jose                        7
Las Vegas (Clark County)        7
Oakland                         6
U.S. Total                      6
Houston                         5
San Antonio                     5
Detroit                         4
Fort Worth (Tarrant County)     3
Minneapolis                     2
Long Beach                      2
Name: city, dtype: int64

In [19]:
#adult_obese['city'] = adult_obese['city'].replace(['Atlanta (Fulton County)','Miami (Miami-Dade County)','San Diego County', 'Las Vegas (Clark County)', 'Fort Worth (Tarrant County)' ],['Atlanta','Miami','San Diego', 'Las Vegas', 'Fort Worth'])
adult_obese['city'] = adult_obese['city'].replace({'Atlanta (Fulton County)': 'Atlanta', 'Miami (Miami-Dade County)': 'Miami', 'San Diego County': 'San Diego', 'Las Vegas (Clark County)' : 'Las Vegas', 'Fort Worth (Tarrant County)': 'Fort Worth'})

<ipython-input-19-cf16e4b9f3fc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_obese['city'] = adult_obese['city'].replace({'Atlanta (Fulton County)': 'Atlanta', 'Miami (Miami-Dade County)': 'Miami', 'San Diego County': 'San Diego', 'Las Vegas (Clark County)' : 'Las Vegas', 'Fort Worth (Tarrant County)': 'Fort Worth'})

In [20]:
adult_obese['city'].value_counts()

Seattle         26
New York        24
Washington      22
Denver          18
Phoenix         17
Philadelphia    16
Atlanta         15
Baltimore       15
Boston          13
Chicago         12
Miami           12
San Diego        9
Las Vegas        7
San Jose         7
Los Angeles      7
U.S. Total       6
Oakland          6
San Antonio      5
Houston          5
Detroit          4
Fort Worth       3
Minneapolis      2
Long Beach       2
Name: city, dtype: int64

In [31]:
clean_obese = adult_obese.drop(columns=['Indicator Category', 'Indicator', 'state'])

In [33]:
clean_obese.rename(columns={'Value': 'percent_obese_adults'})

       percent_obese_adults        city
177                    22.8     Atlanta
178                    17.9     Atlanta
179                    25.4     Atlanta
180                    16.6     Atlanta
181                    23.7     Atlanta
...                     ...         ...
12554                   9.6  Washington
12555                  10.7  Washington
12556                   9.8  Washington
13281                  22.8  Long Beach
13306                  26.2  Long Beach

[253 rows x 2 columns]

In [39]:
avg_obese = clean_obese.groupby(['city'])['Value'].mean()
#df.groupby('A')['B'].mean()
#df.groupby(['id','mth'])['cost'].sum()

In [40]:
avg_obese.to_frame()

                  Value
city
Atlanta       22.880000
Baltimore     31.793333
Boston        22.615385
Chicago       28.408333
Denver        22.266667
Detroit       40.025000
Fort Worth    30.733333
Houston       31.380000
Las Vegas     27.728571
Long Beach    24.500000
Los Angeles   20.685714
Miami         26.775000
Minneapolis   21.300000
New York      23.195833
Oakland       25.683333
Philadelphia  32.875000
Phoenix       27.170588
San Antonio   33.860000
San Diego     23.666667
San Jose      22.857143
Seattle       22.615385
U.S. Total    37.900000
Washington    22.286364

In [41]:
avg_obese.to_csv('avg_obese_city')